.flex-container {


    display: flex;


    background-color: #bbdefb;
    height: 100%;
    padding: 15px;
    gap: 5px;


}

.flex-container > div{
    background: #ffecb3;
    border: 3px solid #ffcc80;
    border-radius: 5px;
    padding: 8px;
}


.right {
    /* flex:1 1 auto; */
    flex-grow:1;
}